<form class="form-horizontal">
    <div class="row">
        <div class="stock">
            <div class="form-group">
                <label  class="col-sm-3 control-label">现价/昨收偏离率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.percentage=[-5,5]'
                        rv="filter.percentage" 
                        data-postfix="%" data-min="-10" data-max="10" data-step="1" data-type="range"
                        data-value="{{filter.percentage}}"
                        ></div>     
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">市净率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.pb=[0,5]'
                        rv="filter.pb" 
                        data-max-show="32"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.pb}}"
                        ></div>     
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">上年度市盈率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.peLyr=[0,5]'
                        rv="filter.peLyr" 
                        data-max-show="320"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.peLyr}}"
                        ></div>     
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">本季度市盈率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.peTtm=[0,5]'
                        rv="filter.peTtm" 
                        data-max-show="320"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.peTtm}}"
                        ></div>     
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">市销率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.psr=[0,5]'
                        rv="filter.psr" 
                        data-max-show="32"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.psr}}"
                        ></div>     
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">总市值</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.marketCapital=[0,5]'
                        rv="filter.marketCapital" 
                        data-max-show="1000"
                        data-min="0" data-max="100" data-step="1" data-type="range" data-postfix="亿"
                        data-value="{{filter.marketCapital}}"
                        ></div>     
                </div>            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">流通市值</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.floatMarketCapital=[0,5]'
                        rv="filter.floatMarketCapital" 
                        data-max-show="1000"
                        data-min="0" data-max="100" data-step="1" data-type="range" data-postfix="亿"
                        data-value="{{filter.floatMarketCapital}}"
                        ></div>     
                </div>            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">关键词</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" ng-model='filter.keyword' class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-success" ng-model="filter.keyword" type="button" ng-click='doSearch()'>搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</form>

<table class="table table-bordered datatable table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" ng-model="isAllChecked" ng-change='checkAll()' />全选</th>
            <th data-hide="phone">名称</th>
            <th>币种</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>上年度市盈率</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><input type="checkbox" ng-model="isAllChecked" ng-change='checkAll()' />全选</th>
            <th data-hide="phone">名称</th>
            <th>币种</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>上年度市盈率</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-class-odd="odd" ng-class-even="even" ng-repeat="i in stocks" ng-click="goto(i.id)">
            <td>
                <input type="checkbox" ng-model="i.checked" ng-change='checkIt(i)' />
            </td>
            <td ><a href="/stock/{{i.id}}" ng-bind='i.name'></a></td>
            <td ng-bind='i.currency'></td>
            <td ng-bind='i.current'></td>
            <td ng-bind='i.amount'></td>
            <td>
                <span ng-if='i.lastClose-i.current < 0' class="label label-danger"><i class="fa fa-arrow-up"></i></span>
                <span ng-if='i.lastClose-i.current > 0' class="label label-success"><i class="fa fa-arrow-down"></i></span>
            </td>
            <td ng-bind='((i.current-i.lastClose)*100/i.lastClose).toFixed(4)+"%"'></td>
            <td ng-bind='i.peLyr'></td>
            <td ng-bind='i.peTtm'></td>
            <td ng-bind='i.pb'></td>
        </tr>
    </tbody>
</table>