<ol class="breadcrumb bc-3" >
    <li> <a href="index.html"><i class="fa fa-home"></i>Home</a> </li>
    <li class="active"> <strong>帐户列表</strong> </li>
</ol>

<h2 ng-bind='i.name'></h2>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered datatable">
            <thead>
                <tr>
                    <th colspan="2">现金</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='c in i.cash'> 
                    <td ng-bind='c.currency'></td>
                    <td ng-bind='c.amount'></td>
                </tr>
            </tbody>
        </table>

        <h4>股票：</h4>

        <table class="table table-bordered datatable" ng-repeat='s in i.stocks'>
            <thead>
                <tr>
                    <th colspan="2" ng-bind='s.name'></th>
                </tr>
            </thead>
            <tbody>
                <tr> <td>价格</td> <td ng-bind='s.cost'></td> </tr>
                <tr> <td>收益</td> <td ng-bind='s.profit'></td> </tr>
                <tr> <td>市值</td> <td ng-bind='s.marketCapital'></td> </tr>
                <tr> <td>收益比例</td> <td ng-bind='s.profitRatio'></td> </tr>
                <tr> <td>数量</td> <td ng-bind='s.volume'></td> </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-6">
        <table class="table table-bordered datatable">
            <thead>
                <tr> <th colspan="2">提供商</th> </tr>
            </thead>
            <tbody>
                <tr> <td>名称</td> <td ng-bind='i.provider.name'></td> </tr>
                <tr> <td>代号</td> <td ng-bind='i.provider.code'></td> </tr>
            </tbody>
        </table>
    </div>
</div>

