<ol class="breadcrumb bc-2 hidden-print">
    <li>
        <a href="index.html"><i class="fa-home"></i>Home</a>
    </li>
    <li class="active">
        <strong>帐户详细</strong>
    </li>
</ol>
<br class="hidden-print" />

<div class="invoice">
    <div class="row">
        <div class="col-sm-6 invoice-left">
        </div>
        <div class="col-sm-6 invoice-right">
            <h3 ng-bind='i.name'></h3>
            <span>提供商: {{i.provider.name}}</span><br>
            <span>代号: {{i.provider.code}}</span><br>
            <span>账户类型: {{i.type=='public' ? '公共' : '私人'}}</span>
        </div>
    </div>
    <hr class="margin" />
    <div class="row">
        <div class="col-sm-3 invoice-left">
            <h4>现金</h4> 
            <span ng-repeat-start='c in i.cash' ng-bind='c.currency'></span>
            <br ng-repeat-end />
        </div>
        <div class="col-sm-3 invoice-left">
            <h4>&nbsp;</h4>
            <span ng-repeat-start='c in i.cash' ng-bind='c.amount'></span>
            <br ng-repeat-end />

        </div>
        <div class="col-md-6 invoice-right">
        </div>
    </div>
    <div class="margin"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th width="20%">股票名</th>
                <th>价格</th>
                <th>收益</th>
                <th>市值</th>
                <th>收益比例</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='s in i.stocks'>
                <td class="text-center" ng-bind='$index+1'></td>
                <td ng-bind='s.name'></td>
                <td ng-bind='s.cost'></td>
                <td ng-bind='s.profit'></td>
                <td ng-bind='s.marketCapital'></td>
                <td ng-bind='s.profitRatio'></td>
                <td ng-bind='s.volume'></td>
            </tr>
        </tbody>
    </table>
</div>
