<ol class="breadcrumb bc-3">
    <li> <a href="/"><i class="fa fa-home"></i></a> </li>
    <li class="active"> <strong>品种列表</strong> </li>
</ol>

<table class="table table-bordered datatable table-hover" id="table-1">
    <thead>
        <tr>
            <th data-hide="phone">名称</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交量</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-hide="phone">名称</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交量</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-class-odd="odd" ng-class-even="even" ng-repeat="i in items" ng-click="goto(i.id)">
            <td ><a href="/stock/{{i.id}}" ng-bind='i.name'></a></td>
            <td ng-bind='i.current'></td>
            <td ng-bind='i.volume'></td>
            <td ng-bind='i.amount'></td>
            <td ng-bind='i.offset'></td>
            <td ng-bind='i.percentage+"%"'></td>
            <td ng-bind='i.peTtm'></td>
            <td ng-bind='i.pb'></td>
        </tr>
    </tbody>
</table>

<bgf-pagination
    passive="true"
    auto-presets="false"
    page="page"
    per-page="perPage"
    num-pages="numPages"
    num-items="numItems"
    url="'/api/stock'"
    url-params="params"
    link-group-size="2"
    collection="items">
</bgf-pagination>
