<ol class="breadcrumb bc-3">
    <li> <a href="index.html"><i class="fa fa-home"></i>Home</a> </li>
    <li>股票组合列表</li>
    <li class="active"> <strong ng-bind='group.name'></strong> </li>
</ol>
<select-stocks data='chosenStocks'> </select-stocks>
<table class="table table-bordered datatable table-hover" style="width: 400px;">
    <thead>
        <tr>
            <th>名称</th>
            <th>比重</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='i in group.stocks.concat(chosenStocks)'>
            <td ng-bind='i.name'></td>
            <td width=100>
                <input type="number" class="form-control" ng-model='i.weight' style="width: 60px;" /> </td>
            <td width=60>
                <button type="button" class="btn btn-danger btn-xs" ng-click='delete($index)'>
                    <i class="entypo-cancel"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-success btn-icon" ng-click="save()">
    保存
    <i class="entypo-check"></i>
</button>