<table class="table table-bordered datatable" id="table-1" style="width: 300px; float:left;margin-right: 5em;">
    <thead>
        <tr>
            <th data-hide="phone">名称</th>
            <th ng-bind='i.name'></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-hide="phone">名称</th>
            <th>值</th>
        </tr>
    </tfoot>
    <tbody>
        <tr> <td>币种</td> <td ng-bind='i.currency'></td> </tr>
        <tr> <td>现价</td> <td ng-bind='i.current'></td> </tr>
        <tr> <td>现价/昨收偏离率</td> <td ng-bind='i.percentage'></td> </tr>
        <tr> <td>今日开盘价格</td> <td ng-bind='i.open'></td> </tr>
        <tr> <td>昨日收盘价格</td> <td ng-bind='i.lastClose'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最低价</td> <td ng-bind='i.todayMin'></td> </tr>
        <tr> <td>涨停价</td> <td ng-bind='i.riseStop'></td> </tr>
        <tr> <td>跌停价</td> <td ng-bind='i.fallStop'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
    </tbody>
</table>

<table class="table table-bordered datatable" id="table-1" style="width: 300px;float:left; margin-right: 5em;">
    <thead>
        <tr>
            <th data-hide="phone">代号</th>
            <th ng-bind='i.code'></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-hide="phone">名称</th>
            <th>值</th>
        </tr>
    </tfoot>
    <tbody>
        <tr> <td>币种</td> <td ng-bind='i.currency'></td> </tr>
        <tr> <td>现价</td> <td ng-bind='i.current'></td> </tr>
        <tr> <td>现价/昨收偏离率</td> <td ng-bind='i.percentage'></td> </tr>
        <tr> <td>今日开盘价格</td> <td ng-bind='i.open'></td> </tr>
        <tr> <td>昨日收盘价格</td> <td ng-bind='i.lastClose'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最低价</td> <td ng-bind='i.todayMin'></td> </tr>
        <tr> <td>涨停价</td> <td ng-bind='i.riseStop'></td> </tr>
        <tr> <td>跌停价</td> <td ng-bind='i.fallStop'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
        <tr> <td>盘中最高价</td> <td ng-bind='i.todayMax'></td> </tr>
    </tbody>
</table>