<ol class="breadcrumb bc-3" >
    <li> <a href="index.html"><i class="fa fa-home"></i>Home</a> </li>
    <li> <a href="tables-main.html">创建任务</a> </li>
    <li class="active"> <strong>选股</strong> </li>
</ol>
<br/>
<br/>

<div class="form-horizontal form-wizard">
    <div class="steps-progress" style="margin-left: 11.14286%; margin-right: 11.14286%;">
        <div class="progress-indicator" style="width: 50%;"></div>
    </div>
    <ul>
        <li class="completed">
            <a href="#tab1" data-toggle="tab"><span>1</span>选择帐户/交易类型</a>
        </li>
        <li class="completed">
            <a href="#tab2" data-toggle="tab" aria-expanded="true"><span>2</span>买入 or 卖出</a>
        </li>
        <li class="active">
            <a href="#tab3" data-toggle="tab" aria-expanded="false"><span>3</span>选股</a>
        </li>
        <li class="">
            <a href="#tab4" data-toggle="tab" aria-expanded="false"><span>4</span>详细设置</a>
        </li>

    </ul>
</div>
<form class="form-horizontal">
    <div class="row">
        <div class="stock" 
            ng-init="stock.rules.priceDiffPercentage = stock.rules.opponentLevels = 0;
                stock.calType = 'targetRatio'">
            <div class="form-group">
                <label  class="col-sm-3 control-label">现价/昨收偏离率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.percentage=[-5,5]'
                        rv="filter.percentage" 
                        data-postfix="%" data-min="-10" data-max="10" data-step="1" data-type="range"
                        data-value="{{filter.percentage}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.percentage[0]+'% ~ '+filter.percentage[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">市净率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.pb=[0,5]'
                        rv="filter.pb" 
                        data-max-show="32"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.pb}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.pb[0]+'% ~ '+filter.pb[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">上年度市盈率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.peLyr=[0,5]'
                        rv="filter.peLyr" 
                        data-max-show="320"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.peLyr}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.peLyr[0]+'% ~ '+filter.peLyr[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">本季度市盈率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.peTtm=[0,5]'
                        rv="filter.peTtm" 
                        data-max-show="320"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.peTtm}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.peTtm[0]+'% ~ '+filter.peTtm[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">市销率</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.psr=[0,5]'
                        rv="filter.psr" 
                        data-max-show="32"
                        data-min="0" data-max="100" data-step="1" data-type="range"
                        data-value="{{filter.psr}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.psr[0]+'% ~ '+filter.psr[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">总市值</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.marketCapital=[0,5]'
                        rv="filter.marketCapital" 
                        data-max-show="1000"
                        data-min="0" data-max="100" data-step="1" data-type="range" data-postfix="亿"
                        data-value="{{filter.marketCapital}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.marketCapital[0]+'% ~ '+filter.marketCapital[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">流通市值</label>
                <div class="col-sm-3">
                    <div range 
                        class="slider slider-green" 
                        ng-init='filter.floatMarketCapital=[0,5]'
                        rv="filter.floatMarketCapital" 
                        data-max-show="1000"
                        data-min="0" data-max="100" data-step="1" data-type="range" data-postfix="亿"
                        data-value="{{filter.floatMarketCapital}}"
                        ></div>     
                </div>
                <div class="col-sm-1">
                    <input type="text" disabled="" class="form-control" value="{{filter.floatMarketCapital[0]+'% ~ '+filter.floatMarketCapital[1]+'%'}}">         
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">关键词</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" ng-model='filter.keyword' class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-success" ng-model="filter.keyword" type="button" ng-click='doSearch()'>搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</form>

<table class="table table-bordered datatable table-hover">
    <thead>
        <tr>
            <th data-hide="phone">名称</th>
            <th>币种</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>上年度市盈率</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-hide="phone">名称</th>
            <th>币种</th>
            <th data-hide="phone">现价</th>
            <th data-hide="phone,tablet">成交额</th>
            <th>涨跌</th>
            <th>涨跌幅</th>
            <th>上年度市盈率</th>
            <th>本季度市盈率</th>
            <th>市净率</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-class-odd="odd" ng-class-even="even" ng-repeat="i in stocks" ng-click="goto(i.id)">
            <td ><a href="/stock/{{i.id}}" ng-bind='i.name'></a></td>
            <td ng-bind='i.currency'></td>
            <td ng-bind='i.current'></td>
            <td ng-bind='i.amount'></td>
            <td>
                <span ng-if='i.lastClose-i.current < 0' class="label label-danger"><i class="fa fa-arrow-up"></i></span>
                <span ng-if='i.lastClose-i.current > 0' class="label label-success"><i class="fa fa-arrow-down"></i></span>
            </td>
            <td ng-bind='((i.current-i.lastClose)*100/i.lastClose).toFixed(4)+"%"'></td>
            <td ng-bind='i.peLyr'></td>
            <td ng-bind='i.peTtm'></td>
            <td ng-bind='i.pb'></td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-3" ng-repeat="stock in stocks" style="margin-bottom: 1em;">
        <div class="input-group minimal">
            <input type="text" class="form-control" placeholder="输入" 
                ng-disabled="!isBuy"
                ng-focus="stock.focus=true" 
                ng-change="search(stock, stock.keyword)" 
                ng-model="stock.keyword"
                ng-blur="inputBlur(stock)">
            <span class="input-group-addon" ng-click="delete($index)"><i class="entypo-cancel"></i></span>
            <span class="tt-dropdown-menu" ng-show="stock.focus" style="position: absolute; top: 100%; left: 0px; z-index: 100;right: auto;">
                <div class="tt-dataset-typeahead_remote">
                    <span class="tt-suggestions" >
                        <div class="tt-suggestion" 
                            style="white-space: nowrap; cursor: pointer;" 
                            ng-click="chooseItem(stock,item)"
                            ng-repeat="item in stock.searchList">
                            <p style="white-space: normal;" ng-bind="item.name"></p>
                        </div>
                    </span>
                </div>
            </span>
        </div>
    </div>
</div>   
<br/>
<div class="row">

    <div class="col-md-2">
        <button ng-if='isBuy' type="button" class="btn btn-success btn-icon icon-left" ng-click="add()">
            增加
            <i class="entypo-plus"></i>
        </button>
    </div>
    <div class="col-md-offset-8 col-md-2">
        <button type="button" class="btn btn-success btn-icon icon-right" ng-click="next()">
            NEXT
            <i class="glyphicon glyphicon-arrow-right"></i>
        </button>
    </div>
</div>
