<ol class="breadcrumb bc-3" >
    <li> <a href="index.html"><i class="fa fa-home"></i></a> </li>
    <li> <a href="tables-main.html">创建任务</a> </li>
    <li class="active"> <strong>买入 or 卖出</strong> </li>
</ol>
<br/>
<br/>

<form id="rootwizard" method="post" action="" class="form-horizontal form-wizard">
    <div class="steps-progress" style="margin-left: 11.14286%; margin-right: 11.14286%;">
        <div class="progress-indicator" style="width: 20%;"></div>
    </div>
    <ul>
        <li class="completed">
            <a href="#tab1" data-toggle="tab"><span>1</span>选择帐户/交易类型</a>
        </li>
        <li class="active">
            <a href="#tab2" data-toggle="tab" aria-expanded="true"><span>2</span>买入 or 卖出</a>
        </li>
        <li class="">
            <a href="#tab3" data-toggle="tab" aria-expanded="false"><span>3</span>选股</a>
        </li>
        <li class="">
            <a href="#tab4" data-toggle="tab" aria-expanded="false"><span>4</span>详细设置</a>
        </li>

    </ul>
</form>

<br/>
<br/>
<div class="row">
    <div class="col-sm-12" style="text-align: center;">
        <a href="" type="button" ng-click="goto('buy')" class="btn btn-default btn-lg">买</a>
        <a href="" ng-click="goto('sell')" class="btn btn-default btn-lg">卖</a>
    </div>       
</div>   
