<table class="table table-bordered datatable table-hover" id="table-1">
    <thead>
        <tr>
            <th data-hide="phone">帐户</th>
            <th>股票</th>
            <th data-hide="phone">开始时间</th>
            <th data-hide="phone,tablet">状态</th>
            <th width=200>进度</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-hide="phone">帐户</th>
            <th>股票</th>
            <th data-hide="phone">开始时间</th>
            <th data-hide="phone,tablet">状态</th>
            <th width=200>进度</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="i in items">
            <td ><a href="/task/{{i.id}}" ng-bind='getAccountsName(i)'></a></td>
            <td ng-bind='getStocksName(i)'></td>
            <td ng-bind='getTime(i.timeStart)'></td>
            <td>
                <span ng-bind='i.status' class="label label-default"
                >
                    
                </span>
                </td>
            <td style="min-width: 400px;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{i.progress*100}}%">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<bgf-pagination
    passive="true"
    auto-presets="false"
    page="page"
    per-page="perPage"
    num-pages="numPages"
    num-items="numItems"
    url="'/api/task'"
    url-params="params"
    link-group-size="2"
    collection="items">
</bgf-pagination>
