<ol class="breadcrumb bc-3" >
    <li> <a href="index.html"><i class="fa fa-home"></i></a> </li>
    <li> <a href="tables-main.html">创建任务</a> </li>
    <li class="active"> <strong>选股</strong> </li>
</ol>
<br/>
<br/>

<div class="form-horizontal form-wizard">
    <div class="steps-progress" style="margin-left: 11.14286%; margin-right: 11.14286%;">
        <div class="progress-indicator" style="width: 50%;"></div>
    </div>
    <ul>
        <li class="completed">
            <a href="#tab1" data-toggle="tab"><span>1</span>选择帐户</a>
        </li>
        <li class="completed">
            <a href="#tab2" data-toggle="tab" aria-expanded="true"><span>2</span>交易方向</a>
        </li>
        <li class="active">
            <a href="#tab3" data-toggle="tab" aria-expanded="false"><span>3</span>选股</a>
        </li>
        <li class="">
            <a href="#tab4" data-toggle="tab" aria-expanded="false"><span>4</span>参数设置</a>
        </li>

    </ul>
</div>
<select-stocks data='chosenStocks'> </select-stocks>

<h3>已选股票</h3>

<div class="row">
    <div class="col-md-2" ng-repeat="stock in uniqStocks(chosenStocks) track by $index" style="margin-bottom: 1em;">
        <div class="input-group minimal">
            <div class="label label-default" ng-bind='stock.name'></div>
        </div>
    </div>
</div>   
<br/>
<div class="row">

    <div class="col-md-offset-10 col-md-2">
        <button type="button" class="btn btn-success btn-icon icon-right" ng-click="next()">
            下一步
            <i class="glyphicon glyphicon-arrow-right"></i>
        </button>
    </div>
</div>
