<ol class="breadcrumb bc-3" >
    <li> <a href="index.html"><i class="fa fa-home"></i>Home</a> </li>
    <li> <a href="tables-main.html">创建任务</a> </li>
    <li class="active"> <strong>设置明细：</strong> </li>
</ol>

<br/>

<form id="rootwizard" method="post" action="" class="form-horizontal form-wizard">
    <div class="steps-progress" style="margin-left: 11.14286%; margin-right: 11.14286%;">
        <div class="progress-indicator" style="width: 85%;"></div>
    </div>
    <ul>
        <li class="completed">
            <a href="#tab1" data-toggle="tab"><span>1</span>选择帐户/交易类型</a>
        </li>
        <li class="completed">
            <a href="#tab2" data-toggle="tab" aria-expanded="true"><span>2</span>买入 or 卖出</a>
        </li>
        <li class="completed">
            <a href="#tab3" data-toggle="tab" aria-expanded="false"><span>3</span>选股</a>
        </li>
        <li class="active">
            <a href="#tab4" data-toggle="tab" aria-expanded="false"><span>4</span>详细设置</a>
        </li>

    </ul>
</form>
<br/>
<br/>

<form role="form" class="form-horizontal form-groups-bordered" 
    ng-submit="submit()" 
    ng-init="calType = 'targetRatio'">

<div class="row">
    已选帐户：<span ng-repeat='account in accounts track by account.id'>{{account.name}}, </span> 
    <h2>总设置：</h2>  
</div>
<div class="row">
    <h4>(rules)</h4>
    <table class="table table-bordered datatable">
        <thead>
            <tr>
                <th>相对当前价最低百分比</th>
                <th>相对当前价最高百分比</th>
                <th>最小交易时间间隔</th>
                <th>最大委差 0%-5%</th>
                <th>对手盘档数 1-10</th>
                <th>对手盘比例 0-1</th>
                <th>起始日期</th>
                <th>终止日期</th>
                <th width="100">差价百分比</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX">
                <td><input type="number" min="0" max="100" ng-model="lowestPercentage" />%   </td>
                <td><input type="number" min="0" max="100" ng-model="highestPercentage" />%   </td>
                <td><input type="number" min="0" max="100" ng-model="timeStep" />s   </td>
                <td><input type="number" min="0" max="5" ng-model="quoteDiffPercentage" />%   </td>
                <td><input type="number" min="1" max="10" ng-model="opponentLevels" />   </td>
                <td><input type="number" min="0" max="100" ng-model="opponentRatio" />   </td>
                <td><input type="text" style="width: 100px" ng-model="backtrackFromDate" datepicker />   </td>
                <td><input type="text" style="width: 100px" ng-model="backtrackToDate" datepicker />   </td>
                <td><input type="number" min="0" max="100" ng-model="priceDiffPercentage" />%   </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table table-bordered datatable">
        <thead>
            <tr>
                <th>持仓或交易比例</th>
                <th>开始时间</th>
                <th>最晚取消时间</th>
                <th>目标持仓比例</th>
                <th>本次交易比例</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX">
                <td>
                    <label class="col-sm-6 control-label" style="padding:0;">
                        <select class="form-control" ng-model="calType">
                            <option value="targetRatio">目标持仓比例</option>
                            <option value="ratio">本次交易比例</option>
                        </select>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" id="test" class="form-control" ng-model='calNum' />
                    </div>
                </td>
                <td>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="startDate" datepicker />
                    </div>
                </td>
                <td>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="endDate" datepicker />
                    </div>
                </td>
                <td>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="targetRatio" />
                    </div>
                </td>
                <td>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="ratio" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="stock" 
        ng-repeat='stock in stocks' 
        ng-init="stock.rules.priceDiffPercentage = stock.rules.opponentLevels = 0;
            stock.calType = 'targetRatio'">
        <h3 class="col-sm-7" ng-bind='stock.name' style="text-align: center;"></h3>
        <div class="clear"></div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最低价</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" ng-model="stock.rules.lowestPrice">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最高价</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" ng-model="stock.rules.highestPrice">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最小交易时间间隔</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" ng-model="stock.rules.timeStep">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 col-sm-offset-1 control-label" style="padding:0;">
                <select class="form-control" ng-model="stock.calType">
                    <option value="targetRatio">目标持仓比例</option>
                    <option value="ratio">本次交易比例</option>
                    <option value="volume">本次交易股数</option>
                </select>
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model='stock.calNum'>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最大委差</label>
            <div class="col-sm-3">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.priceDiffPercentage" 
                    data-prefix="&pound; " data-min="0" data-max="10" data-step="1" 
                    ng-value="{{stock.rules.priceDiffPercentage}}"></div>     
            </div>
            <div class="col-sm-1">
                <input type="number" disabled="" class="form-control" ng-model="stock.rules.priceDiffPercentage">         
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘档数</label>
            <div class="col-sm-3">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.opponentLevels" 
                    data-prefix="&pound; " data-min="0" data-max="10" data-step="1" 
                    ng-value="{{stock.rules.opponentLevels}}"></div>     
            </div>
            <div class="col-sm-1">
                <input type="number" disabled="" class="form-control" ng-model="stock.rules.opponentLevels">         
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘比例</label>
            
            <div class="col-sm-3">
                <input type="number" min="0" max="100" class="form-control" ng-model="stock.rules.opponentRatio">
            </div>
        </div>
        
        
                    
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-default">确认</button>
        </div>
    </div>
</div>   
</form>
