<ol class="breadcrumb bc-3" >
    <li> <a href="/"><i class="fa fa-home"></i></a> </li>
    <li> <a href="tables-main.html">创建任务</a> </li>
    <li class="active"> <strong>参数设置</strong> </li>
</ol>
<br>
<form id="rootwizard" method="post" action="" class="form-horizontal form-wizard">
    <div class="steps-progress" style="margin-left: 11.14286%; margin-right: 11.14286%;">
        <div class="progress-indicator" style="width: 85%;"></div>
    </div>
    <ul>
        <li class="completed">
            <a href="#tab1" data-toggle="tab"><span>1</span>选择帐户</a>
        </li>
        <li class="completed">
            <a href="#tab2" data-toggle="tab" aria-expanded="true"><span>2</span>交易方向</a>
        </li>
        <li class="completed">
            <a href="#tab3" data-toggle="tab" aria-expanded="false"><span>3</span>选股</a>
        </li>
        <li class="active">
            <a href="#tab4" data-toggle="tab" aria-expanded="false"><span>4</span>参数设置</a>
        </li>

    </ul>
</form>

<form role="form" class="form-horizontal form-groups-bordered" ng-submit="submit()">

<hr>

<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <h3 class="text-center">已选帐户</h3>  
        <div class="tile-stats tile-blue" ng-repeat='account in accounts track by account.id' style="min-height:100px">
            <div class="icon"><i class="entypo-credit-card"></i></div>
            <h3>{{ account.name }}</h3>
            <p>{{ account.provider.name }}</p>
        </div>
    </div>
    <div class="stock col-sm-4">
        <h3 style="text-align: center;">批量设置</h3>
        <div class="clear"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">价格区间</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="task.rules.lowestPercentage">
                    <div class="input-group-addon">-</div>
                    <input type="number" class="form-control" ng-model="task.rules.highestPercentage">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">起止时间</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" class="form-control" timepicker ng-model="task.timeStart">
                    <div class="input-group-addon">-</div>
                    <input type="text" class="form-control" timepicker ng-model="task.timeEnd">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最小交易时间间隔</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="task.rules.timeStep">
                    <div class="input-group-addon">秒</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label" style="padding:0;">
                <select class="form-control" ng-model="task.volumeCalType">
                    <option value="targetPercentage">目标持仓比例</option>
                    <option value="percentage">本次交易比例</option>
                    <option value="volume">本次交易股数</option>
                </select>
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-model='task.volumeCalNum'>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最大委差</label>
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.priceDiffPercentage" 
                    data-min="0" data-max="10" data-step="0.1" 
                    data-value="{{task.rules.priceDiffPercentage}}"></div>     
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘档数</label>
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.opponentLevels" 
                    data-min="0" data-max="10" data-step="1" 
                    data-value="{{task.rules.opponentLevels}}"></div>     
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘比例</label>
            
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.opponentPercentage" 
                    data-min="0" data-max="100" 
                    data-value="{{task.rules.opponentPercentage}}"></div>     
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="stock col-sm-4" 
        ng-repeat='stock in stocks'>
        <h3 ng-bind='stock.name' style="text-align: center;"></h3>
        <div class="clear"></div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最小交易时间间隔</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="stock.rules.timeStep">
                    <div class="input-group-addon">秒</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">价格区间</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon">¥</div>
                    <input type="number" class="form-control" ng-model="stock.rules.lowestPrice">
                    <div class="input-group-addon">-</div>
                    <input type="number" class="form-control" ng-model="stock.rules.highestPrice">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label" style="padding:0;">
                <select class="form-control" ng-model="stock.volumeCalType">
                    <option value="targetPercentage">目标持仓比例</option>
                    <option value="percentage">本次交易比例</option>
                    <option value="volume">本次交易股数</option>
                </select>
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-model='stock.volumeCalNum'>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">最大委差</label>
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.priceDiffPercentage" 
                    data-min="0" data-max="10" data-step="0.1" 
                    data-value="{{stock.rules.priceDiffPercentage}}"></div>     
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘档数</label>
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.opponentLevels" 
                    data-min="0" data-max="10" data-step="1" 
                    data-value="{{stock.rules.opponentLevels}}"></div>     
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">对手盘比例</label>
            
            <div class="col-sm-9">
                <div range 
                    class="slider slider-green" 
                    rv="stock.rules.opponentPercentage" 
                    data-min="0" data-max="100" 
                    data-value="{{stock.rules.opponentPercentage}}"></div>     
            </div>
        </div>
    </div>
</div>   
<hr class="clear">
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-3">
        <button type="submit" class="btn btn-primary btn-lg">保存任务</button>
    </div>
</div>
</form>
