<ol class="breadcrumb bc-3" >
    <li> <a href="/"><i class="fa fa-home"></i></a> </li>
    <li class="active"> <strong>用户列表</strong> </li>
</ol>

<table class="table table-bordered table-striped datatable table-hover" datatable>
    <thead>
        <tr>
            <th>选择</th>
            <th>名字</th>
            <th>邮箱</th>
            <th>电话</th>
            <th>角色</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in items">
            <td>
                <input type="checkbox" id="chk-1">
            </td>
            <td ng-bind="i.name"></td>
            <td ng-bind="i.email"></td>
            <td ng-bind="i.mobile"></td>
            <td ng-bind="i.roles.join('，')"></td>
        </tr>
    </tbody>
</table>
